body {
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 50;
  /* gap: 20px; */
}

.img {
  width: 49px;
  height: 35px;
  display: flex;
}

.icono-inicio {
  width: 1.7rem;
  border: 10px solid #222;
  background-color: #222;
  border-radius: 50%;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

a {
    color: whitesmoke;
  text-decoration: none;
}

.parte-izquierda {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inicio-busqueda {
  display: flex;
}

.search {
  background-color: #222;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  width: 400px;
  color: white;
}

.search input {
  flex: 1;
  background: transparent;
  border: none;
  font-size: 16px;
  color: white;
  padding: 5px 10px;
  outline: none;
}

.icono-derecha {
  width: 100%;
}

.notification {
  color: white;
  font-size: 17px;
  cursor: pointer;
  right: 100px;
}

.family {
  color: white;
  font-size: 17px;
  cursor: pointer;
  right: 100%;
}

.perfil {
  display: flex;
  border: 10px solid #222;
  background-color: #222;
  border-radius: 50%;
}

.img-redonda {
  width: 35px;
  height: 35px;
  bottom: 50%;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.biblioteca {
  color: white;
  flex-wrap: wrap;
  font-size: 17px;
  border: 1px solid #181818;
  background-color: #181818;
  border-radius: 7px;
  width: 350px;
  height: 790px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.titulo {
  padding-left: 15px;
}

.titulo p,
.listas p,
.recientes span {
  margin: 5px 0;
  padding: 0;
}

.crear-biblioteca {
  background-color: #000;
  color: white;
  height: 15px;
  border-radius: 30px;
  padding: 10px 20px;
  font-family: sans-serif;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
}

.crear-biblioteca:hover {
  background-color: #111;
}

.icono {
  font-size: 15px;
  font-weight: bold;
}

.listas div {
  display: flex;
  gap: 20px;
  font-size: 15px;
}

.lista {
  border: 10px solid #222;
  border-radius: 17px;
  background: #222;
}

.artistas {
  border: 10px solid #222;
  border-radius: 17px;
  background: #222;
}

.albunes {
  border: 10px solid #222;
  border-radius: 17px;
  background: #222;
}

.lista,
.artistas,
.albunes {
  cursor: pointer;
  transition: color 0.3s;
}

.recientes {
  cursor: pointer;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.box{
width: 820px;
height: 820px;
border-radius: 8px;
background: linear-gradient(135deg, #570303, #181818);
border: 1px solid #333;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.box:hover{
  background: linear-gradient(135deg, #570303, #033a16);
  transform: scale(1.03);
  transition: all 0.3s ease;
}

.contenido-principal {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: flex;
  gap: 15px;
}

.todo{
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 10px solid #242424;
  background-color: #242424;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.todo:hover{
  text-decoration: none;
  background-color: rgb(43, 42, 42);
  border-color: rgb(43, 42, 42);
  transition: all 0.5s ease;
}

.musica{
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 10px solid #242424;
  background-color: #242424;
  border-radius: 20px;
}

.musica:hover{
  background-color: rgb(43, 42, 42);
  border-color: rgb(43, 42, 42);
  transition: all 0.5s ease;
}

.podcast{
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 10px solid #242424;
  background-color: #242424;
  border-radius: 20px;
}

.podcast:hover{
  background-color: rgb(43, 42, 42);
  border-color: rgb(43, 42, 42);
  transition: all 0.5s ease;
}

.tu-musica{
  font-weight: bold;
  border: 10px solid #242424;
  background-color: #242424;
  border-radius: 20px;
  width: 300px;
}

.texto-principal{
  color: #ccc;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.cartas{
  width: 200px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  gap: 100px;
}

.cover{
  width: 100%;
  border-radius: 8px;
}

.play-boton{
  position: absolute;
  bottom: 90px;
  right: 20px;
  background: #1DB954;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 0;
  transition: .25s;
}

.cartas:hover .play-boton{
  opacity: 1;
  transform: scale(1.1);
}

.texto{
  margin-top: 10px;
  color: #ccc;
}

.album2{
  width: 200px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  gap: 100px;
}

.ryancastro{
  width: 100%;
  border-radius: 8px;
}

.buttom{
  position: absolute;
  bottom: 90px;
  right: 20px;
  background: #1DB954;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 0;
  transition: .25s;
}

.album2:hover .buttom{
  opacity: 1;
  transform: scale(1.1);
}

.text{
  margin-top: 10px;
  color: #ccc;
}

.album3{
  width: 200px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  gap: 100px;
}

.badbunny{
  width: 100%;
  border-radius: 8px;
}

.buttom3{
  position: absolute;
  bottom: 100px;
  right: 20px;
  background: #1DB954;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 0;
  transition: .25s;
}

.album3:hover .buttom3{
  opacity: 1;
  transform: scale(1.1);
}

.texto3{
  margin-top: 10px;
  color: #ccc;
}

.album4{
  width: 200px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  gap: 100px;
}

.alcolirykoz{
  width: 100%;
  border-radius: 8px;
}

.buttom4{
  position: absolute;
  bottom: 90px;
  right: 20px;
  background: #1DB954;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 0;
  transition: .25s;
}

.album4:hover .buttom4{
  opacity: 1;
  transform: scale(1.1);
}

.texto4{
  margin-top: 10px;
  color: #ccc;
}

.tendencia{
  font-weight: bold;
  color: white;
}

.westcol{
  width: 200px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  gap: 100px;
}

.wsound{
  width: 100%;
  border-radius: 8px;
}

.botonn{
  position: absolute;
  bottom: 90px;
  right: 20px;
  background: #1DB954;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 0;
  transition: .25s;
}

.westcol:hover .botonn{
  opacity: 1;
  transform: scale(1.1);
}

.plena{
  margin-top: 10px;
  color: #ccc;
}

.krisr{
  width: 200px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  gap: 100px;
}

.lak{
  width: 100%;
  border-radius: 8px;
}

.play{
  position: absolute;
  bottom: 90px;
  right: 20px;
  background: #1DB954;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 0;
  transition: .25s;
}

.krisr:hover .play{
  opacity: 1;
  transform: scale(1.1);
}

.piponas{
  margin-top: 10px;
  color: #ccc;
}

.parche{
  width: 200px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  gap: 100px;
}

.tranqui{
  width: 100%;
  border-radius: 8px;
}

.boton10{
  position: absolute;
  bottom: 90px;
  right: 20px;
  background: #1DB954;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 0;
  transition: .25s;
}

.parche:hover .boton10{
  opacity: 1;
  transform: scale(1.1);
}

.tranquilos{
  margin-top: 10px;
  color: #ccc;
}

.ñengo-flow{
  width: 200px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  gap: 100px;
}

.alucinando{
  width: 100%;
  border-radius: 8px;
}

.boton11{
  position: absolute;
  bottom: 90px;
  right: 20px;
  background: #1DB954;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 0;
  transition: .25s;
}

.ñengo-flow:hover .boton11{
  opacity: 1;
  transform: scale(1.1);
}

.alucina{
  margin-top: 10px;
  color: #ccc;
}

.footer-section{
    padding: 20px 40px;
}
.footer-section .footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-section .footer .footer-links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer-section .footer .footer-links .footer-column{
    margin: 0 12px;
}
.footer-section .footer .footer-links div{
    color: white;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 18px;
}
.footer-section .footer .footer-links ul li{
    list-style: none;
    margin: 6px 0;
}
.footer-section .footer .footer-links ul li a{
    text-decoration: none;
    color: #aeadad;
    font-size: 14px;
    cursor: pointer;
}
.footer-section .footer .footer-links ul li a:hover{
    text-decoration: underline;
    color: #fcfcfc;
}
.footer .social-links i{
    color: white;
    background: #232323;
    padding: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.footer .social-links i:hover{
    background: #3c3c3c;
}

/* Estilos base */
.playlist-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

.playlist-card {
  display: flex;
  align-items: center;
  background-color: #121212;
  border-radius: 8px;
  padding: 12px;
  color: #fff;
  transition: background 0.3s;
}

.playlist-card:hover {
  background-color: #1e1e1e;
}

.playlist-thumb {
  width: 64px;
  height: 64px;
  border-radius: 4px;
  object-fit: cover;
  margin-right: 12px;
}

.playlist-info {
  display: flex;
  flex-direction: column;
}

.playlist-title {
  font-size: 16px;
  margin: 0;
}

.playlist-meta {
  font-size: 14px;
  color: #b3b3b3;
}

.media {
  display: none;
}
@media (max-width: 900px) {
  .media{
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgb(35, 35, 35);
    position: absolute;
    top: 0;
    z-index: 49;
  }

  body{
    overflow: hidden;
  }

 .biblioteca,.box{
    display: none;
  }

  .container {
    position: absolute;
    top: 0;
    z-index: 50;
    width: 100%;
    background-color: #000;
  }
  
  .h1{
   margin-top: 250px;
   font-size: 100px;
  }
}