body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.img{
    width: 49px;
    height: 35px;
    display: flex;
}

.icono-inicio{
    border: 10px solid #222;
    background-color: #222;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.search{
    background-color: #222;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 400px;
    color: white;
}

.search input {
    flex: 1;
    background: transparent;
    border: none;
    font-size: 16px;
    color: white;
    padding: 5px 10px;
    outline: none;
}

.icono-derecha{
    width: 100%;
}

.notification{
    color: white;
    font-size: 17px;
    cursor: pointer;
    right: 100px;
}

.family{
    color: white;
    font-size: 17px;
    cursor: pointer;
    right: 100%;
}

.perfil{
    display: flex;
    border: 10px solid #222;
    background-color: #222;
    border-radius: 50%;
}

.img-redonda{
    width: 35px;
    height: 35px;
    bottom: 50%;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.biblioteca{
    color: white;
    flex-wrap: wrap;
    font-size: 17px;
    border: 1px solid #181818;
    background-color: #181818;
    border-radius: 7px;
    width: 350px;
    height: 690px;
}

.superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.titulo{
    padding-left: 15px;
}

.crear-biblioteca{
    background-color: #000;
    color: white;
    height: 15px;
    border-radius: 30px;
    padding: 10px 20px;
    font-family: sans-serif;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
}

.crear-biblioteca:hover {
    background-color: #111;
}

.icono{
    font-size: 15px;
    font-weight: bold;
}

blockquote{
    display: flex;
    gap: 20px;
    font-size: 15px;
}

.lista{
    border: 10px solid #222;
    border-radius: 17px;
    background: #222;
}

.artistas{
    border: 10px solid #222;
    border-radius: 17px;
    background: #222;
}

.albunes{
    border: 10px solid #222;
    border-radius: 17px;
    background: #222;
}

.lista, .artistas, .albunes{
    cursor: pointer;
    transition: color 0.3s;
}

.recientes{
    cursor: pointer;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}